{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>CURRICULUM VITAE 2</title>
        <link href="{% static 'css2/styles.css' %}" rel="stylesheet" />
        <style>
            
        </style>
    </head>
    <body>
        <section class="info">
            <div class="data"><h1>CAREER PROFILE</h1></div>
        </section>
        <section class="info">
            <div class="data"><h1>WORKING EXPERIENCE</h1></div>
        </section>
        <section class="info">
            <div class="data"><h1>SKILLS</h1></div>
        </section>
        <section class="info">
            <div class="data"><h1>HOBBIES</h1></div>
        </section>
        <section class="info">
            <div class="data"><h1>REFERRALS</h1></div>
        </section>
        <section class="profile">
            <h1 style= "font-size: 20px;">JOHNSON AKANWA</h1>
        <p>Address: 32, crescent, somolu, Lagos state</p>
        <p>E-mail: johnsonakanwa@gmail.com</p> <p>Tel: 08011345678</p>
        </section>
    
    </body>
</html>