{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>CURRICULUM VITAE 4</title>
        <link href="{% static 'css4/styles.css' %}" rel="stylesheet" />
        <style>
            
            
        </style>
    </head>
    <body>
        <section class="B">
            <div class="name"><h1 style= "font-size: 50px; font-family: Georgia, 'Times New Roman', Times, serif;">JOHNSON AKANWA</h1></div>
            <div class="blue">
            <div class="space"><p style="color: white;">Address: 32, crescent, somolu, Lagos state</p></div>
            <div class="space"><p style="color: white;">E-mail: johnsonakanwa@gmail.com</p></div>
            <div class="space"><p style="color: white;">Tel: 08011345678</p></div>
            </div>
            <div class="cs">
            <div class="side">
            <div class="main"><h2 style= "font-size: 20px; font-family: Georgia, 'Times New Roman', Times, serif;">WORKING EXPERIENCE</h2></div>
            <div class="main"><h2 style= "font-size: 20px; font-family: Georgia, 'Times New Roman', Times, serif;">EDUCATION</h2></div>
            </div>
            <div class="side">
            <div class="main"><h2 style= "font-size: 20px; font-family: Georgia, 'Times New Roman', Times, serif;">SKILLS</h2></div>
            <div class="main"><h2 style= "font-size: 20px; font-family: Georgia, 'Times New Roman', Times, serif;">REFERENCE</h2></div>
            </div>
            </div>
        </section>

    </body>
</html>