{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>CURRICULUM VITAE 5</title>
        <link href="{% static 'css5/styles.css' %}" rel="stylesheet" />
        <style>
            
        </style>
        <title>CURRICULUM VITAE 5</title>
    </head>
    <body>
        <section class="A">
            <div><img src="{% static 'images/Ovie_arthur.jpg' %}" height="250px" alt="Profile pic" style="border-radius: 5000px;"></div>
            <div style="margin-left: 250px;"><h1 style= "font-size: 50px; font-family: times Georgia, 'Times New Roman', Times, serif;">JOHNSON AKANWA</h1>
                <p style="color: white;">Address: 32, crescent, somolu, Lagos state</p>
                <p style="color: white;">E-mail: johnsonakanwa@gmail.com</p>
                <p style="color: white;">Tel: 08011345678</p>
            </div>
        </section>
        <section class="B">
            <div class="main"><div class="heads"><h2 style= "font-size: 20px; font-family: Georgia, 'Times New Roman', Times, serif;">CAREER OBJECTIVES</h2></div><div class="empty"><p style="color: blueviolet;">blue</p></div></div>
            <div class="main"><div class="heads"><h2 style= "font-size: 20px; font-family: Georgia, 'Times New Roman', Times, serif;">EDUCATION</h2></div><div class="empty"><p style="color: blueviolet;">blue</p></div></div>
            <div class="main"><div class="heads"><h2 style= "font-size: 20px; font-family: Georgia, 'Times New Roman', Times, serif;">WORKING EXPERIENCE</h2></div><div class="empty"><p style="color: blueviolet;">blue</p></div></div>
            <div class="main"><div class="heads"><h2 style= "font-size: 20px; font-family: Georgia, 'Times New Roman', Times, serif;">SKILLS</h2></div><div class="empty"><p style="color: blueviolet;">blue</p></div></div>
            <div class="main"><div class="heads"><h2 style= "font-size: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">REFERENCE</h2></div><div class="empty"><p style="color: blueviolet;">blue</p></div></div>
        </section>

    </body>
</html>